.outerbox
{ margin-left:822px;
margin-top:40px;
width:500px; 
height:415px;
overflow:hidden;
border-radius: 0px;
border:solid 2px black;
border-radius: 7px;
background-color: rgba(255,255,255,1);
}
.sliderbox img
{
	width:500px;
	height:415px;
	float:left;

}
figure
{
	padding:0px;
	margin:0px;
}
.sliderbox figcaption
{
	font-family:Verdana,sans-serif;;
	color:green;
	font-size: 15px;
	margin-top:0px;
	float:top;

}

.sliderbox
{
	position:relative;
	width:2800px;
	animation:slide 10s infinite;
}
@keyframes slide
{ 
	0%
	{
		left:0px;
	}
	20%
	{
		left:0px;
	}
	25%
	{
		left:-500px;
	}
	45%
	{
     left:-500px;
	}
	50%
	{
     left:-1000px;
	}
	70%
	{
     left:-1000px;
	}
	75%
	{
     left:-1500px;
	}
	95%
	{ 
     left:-1500px;
	}
	100%
	{
		left:0px;
	}

}